
.header {
font-size: 50px;
color: white;
background-color: black;
text-align: center;
}

#h2 {
margin-left:17%;
}

#card-list {
margin-left: 5px;
margin-top: 5px;
position: relative;
}

.list-group {
margin-top: 10px;
}

.list-group-item {
 height: 65px;   
}

.boxes {
background-color: rgb(0, 174, 255);
height: 250px;
width: 200px;
margin-left: 10px;
}

#row-3 {
margin-top: 100px;
}

.favorable {
color: green;
}

.moderate {
color: orange;
}

.severe {
color: red;    
}